.inpt{
	width: 98%;
	padding-top: 12px;
	padding-left: 12px;
}

.boton{
	padding-bottom: 10px;
}

.contenedor{
	padding-top: 50px;
	padding-left: 40%;
	width: 60%;
	text-align: center;
}

.inputr{
	height: 70px;
	text-align: center;
	font-size: 20em;
	font-weight: bold;

	

}